*{
    padding: 0;
    margin: 0;
}

.userHeader{
    background-color: rgb(96, 165, 220);
    color: white;
}

.userHeader{
    justify-content: space-between;
}

.passwordInput{
    margin-right: 37px;
}

.phoneInput{
    margin-right: 75px;
}

.categoryBar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(64, 140, 202);
    color: white;
}

.dropDown {
    position: relative;
    display: inline-block;
  }

  .dropDown:hover {
    cursor: pointer;
  }

  .dropDown .tooltiptext {
    visibility: hidden;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .dropDown:hover .tooltiptext {
    visibility: visible;
  }

  .randomProducts, .listProducts{
    flex-wrap: wrap;
  }

  .randomProductDiv{
    height: 200px;
    width: 150px;
  }

  .randomProductDiv img{
    width: 100%;
  }

  .dropDown a{
    text-decoration: none;
    color: white;
  }

  .subCategory a,.categoryName a, .randomProducts a, .listProducts a, .link a{
    text-decoration: none;
    color: black;
  }

  .dropDown2 {
    position: relative;
    display: inline-block;
  }

  .dropDown2:hover {
    cursor: pointer;
  }

  .dropDown2 .tooltiptext2 {
    visibility: hidden;
    color: black;
    background-color: rgb(177, 177, 177);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .dropDown2:hover .tooltiptext2 {
    visibility: visible;
  }

  .carousel{
    height: 250px;
    width: 250px;
    margin-top: 30px;
  }

  .totalCard{
    height: 200px;
  }

  .cartIcon{
    position: relative;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 1px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .res{
    color: green;
  }